*{
    padding: 0px;
    margin: 0px;
  }
  #header{
    background-color: black;
    color: white; 
  }
    #header a{
      color: white;
    }
    #header h1, #header button{
      display: inline-block;
      vertical-align: top;
    }
    #header button{
      margin-top: 22px;
    }