  *{
    padding: 0px;
    margin: 0px;
  }
  #menu{
    display: inline;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-left: 20px;
  }
    #menu input, #menu button{
      display: inline-block;
    }
    #menu button{
      margin-left: 10px;
    }
    #menu p{
      margin-top: 50px;
      font-weight: bold;
    }
    #menu li{
      list-style-type: none;
      text-indent: 20px;
    }
    #menu a{
      font-style: italic;
    }
  #body{
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 15px;
    display: inline-block;
    margin-bottom: 50px;
  }
    #body h1, #body nav{
    display: inline-block;
    }
    div.dropdown{
      margin-top: 15px;
    }
  #content{
    display:inline-block;
    margin-top: 70px;
  }
    #content p{
      text-align: center;
    }
    #content img{
      margin: 5px;
    }
  .merch-div{
    height: 250px;
  }
  #footer nav{
    margin-left: 30%;
  }
  #footer nav{
    margin-left: 30%;
  }