.container {
	position: relative;
	top: -220px;
	width: 960px;
}

div#header {
	background-color: black;
	height: 40px;
	padding-top: 5px;
	padding-left: 15px;
}

#title {
	font-size: 20px;
	color: white;
}

#shop-cart {
	margin-left: 400px;
	color: white;
}

#cart-quantity {
	margin-left: 400px;
	color: white;
}

input.form-area {
	margin-left: 40px;
}

input.form-area2 {
	margin-left: 20px;
	vertical-align: top;
}

#button2 {
	margin-left: 245px;
	background-color: blue;
	color: white;
	border: 1px solid black;
}

td#total p {
	margin-left: 660px;
}

td#go-back a {
	margin-left: 400px;
	position: absolute;
	display: inline-block;
}

td#qty p {
	margin-right: 20px;	
}

a {
	margin-left: 660px;
	color: white;
}

#total {
	margin-left: 760px;
}

.form-area3 {
	margin-left: 20px;
}

.form-area4 {

}


.exp {
	
}

/*.form-area4 {
	position: absolute;
	margin-right: 20px;
}*/









/*td#continue-shop a {
	margin-left: 100px;
	position: absolute;
}
*/





/*  tbody tr:nth-child(odd) {
       background-color: silver;
  }*/